/* style.css */
html, body {
    position: relative;
    margin: 0;
    height: 100%;
}

#map {
    height: 100vh;
    width: 100%;
}

.imagemap-class {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.marker-class {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.menu-button {
    position: fixed;     
    top: 20px;
    right: 20px;
    z-index: 2000;       

    min-height: 80px;
    min-width: 80px;

    border: 2px solid black;
    border-radius: 100px;
    background: white;

    padding: 10px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button:hover {
    background: rgb(117, 164, 250);
}

.menu-button img {
    width: 48px;
    height: 48px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}