/* style.css */
html, body {
    position: relative;
    margin: 0;
    height: 100%;
}

#map {
    height: 100vh;
    width: 100%;
}

.imagemap-class {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.marker-class {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.map-button {

    min-height: 80px;
    min-width: 80px;

    border: 2px solid black;
    border-radius: 100px;
    background: white;

    padding: 10px;
    cursor: pointer;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;
}

.map-button:hover {
    background-color: rgb(101, 154, 233);
}

.map-button img {
    width: 48px;
    height: 48px;
    image-rendering: pixelated;
}